body {
    background-color: rgb(39,40,34);
}
#logout {
    position: absolute;
    right : 20;
}
#executorController {
    height:10%;
}
#executionResult {
    background-color: rgb(39,40,34);
    color: white;
    padding-left: 5%;
    height: 20%;
}

#play:active {
    transform:  translate(0px, 0px);
    transition: all 1s;
}