body {
    background-color: rgb(39,40,34);
}
#logout {
    position: absolute;
    right : 20;
}
#executorController {
    height:10%;
}
#inputStreamResult {
    background-color: rgb(39,40,34);
    color: white;
    padding-left: 5%;
    height: 20%;
}
#editor {
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
}